@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Colors */
  --primary-bright-blue: hsl(220, 98%, 61%);
  --primary-check-background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --gradient-primary: hsl(192, 100%, 67%);
  --gradient-secondary: hsl(280, 87%, 65%);

  /* Neutral Colors - Light Theme */
  --light-very-light-gray: hsl(0, 0%, 98%);
  --light-very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-light-grayish-blue: hsl(233, 11%, 84%);
  --light-dark-grayish-blue: hsl(236, 9%, 61%);
  --light-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Neutral Colors - Dark Theme */
  --dark-very-dark-blue: hsl(235, 21%, 11%);
  --dark-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-light-grayish-blue: hsl(234, 39%, 85%);
  --dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --dark-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --dark-very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

.bg-dark-desaturated {
  background: var(--dark-very-dark-desaturated-blue);
}

.bg-light-very-light-gray {
  background: var(--light-very-light-gray);
}
